OpenGL/
OpenGL_NBody/
NBody_OGL/
hw2-1/build/
hw2-2/build/
newCuda/build/
cudaTest
.vs/
.vscode/
hw2-1/job-openmp
hw2-1/job-serial
hw2-2/job-mpi
hw2-1/original_cmake
hw2-2/V/
hw2-1/out/
compile-all.sh