OpenGL/
OpenGL_NBody/
NBody_OGL/
src/openmp/build/
src/mpi/build/
src/cuda/build
newCuda/
cudaTest/
.vs/
.vscode/
src/openmp/job-openmp
arc/openmp/job-serial
src/mpi/job-mpi
src/openmp/original_cmake
src/mpi/V/
src/openmp/out/
compile-all.sh
build/
build_cuda/
grep_mpi.txt
grep_mpi4.txt
grep_omp.txt
mpi_data.txt
mpi4_data.txt
omp_data.txt
out.txt